<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/information.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd96e2bd690622227b096b7f52913f55&libraries=services"></script>
    <script src="/resources/js/information.js"></script>
    <title>주변 동물병원</title>
</head>
<body>
    <div id="gps_address_name"></div>
    <div>정보
        <ul>
            <li>
                주변 동물병원
            </li>
            <li>
                주변 동물약국
            </li>
        </ul>
    </div>
    
    <div id="map" style="width:500px;height:400px;"></div>
    
</body>
</html>